@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .container {
    @apply w-full;
  }
  .welcomeSpan {
    @apply text-white  absolute left-[32px];
  }
  .progressBar {
    @apply w-[30px] h-[3px] bg-gray-400;
  }
  .nextBtn {
    @apply bg-black rounded-3xl text-white py-3 px-[173px] absolute left-[24px] bottom-[32px];
  }
  .brand-logo {
    @apply w-[60px] h-[60px] rounded-full bg-[#ECECEC] flex items-center justify-center flex-col;
  }
  .brand {
    @apply flex flex-col justify-center items-center gap-3 font-semibold text-sm;
  }
  /* .brand span {
    @apply max-w-[60px];
  } */
  .carouselBtn {
    @apply w-4 h-[15px] bg-gray-300 rounded-3xl;
  }
  .carousel-img {
    @apply h-full w-full object-cover;
  }
  .shoe-image {
    @apply w-[182px] h-[182px] bg-[#F3F3F3] rounded-3xl flex items-center justify-center mb-3;
  }
  .shoe-name {
    @apply text-xl max-w-[182px] font-bold line-clamp-1;
  }
  .product {
    @apply flex flex-col;
  }
  .size-circle {
    @apply border-2 border-gray-600 min-w-[40px] h-10 flex items-center justify-center rounded-full;
  }
  .color-circle {
    @apply min-w-[40px] h-10 flex items-center justify-center rounded-full;
  }
  .brand-scroll span {
    @apply text-xl px-5 py-[10px] border-2 border-[#343A40] rounded-3xl whitespace-nowrap;
  }
  .brands-active {
    @apply bg-[#343A40] text-white;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  footer span {
    @apply text-[10px];
  }
  .select {
    @apply bg-black text-white;
  }
  @layer utilities {
    @variants responsive {
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }
}
